:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  list-style: none;
}
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;

overflow-x: hidden;
scroll-behavior: smooth;
font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', sans-serif;
}


#section-4 li, #section-6 li {
  display: flex;
  align-items: center;
}

#section-6 h3::after {
  content: ' ';
  display: inline-block;
  padding-right: 1rem;
}
